:root{
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --bcg-pri-color: #2F303A;
    --bcg-sec-color: #F5F4FA;
    --bcg-thr-color: #F5F5F5;
    --button-color: #000000;
    --main-wight-color: #ffffff;
    --spec-link-color: rgba(255, 255, 255, 0.6);
    --main-icon-color: #AFB1B8;
    --main-padding: 94px;
    --animation-funktion: cubic-bezier(0.4, 0, 0.2, 1);
}




/* main styles */
body {
    color:  var(--title-color);
    background-color: var(--main-wight-color);
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;

}
.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}
.preference, .activity, .ourteam, .clients, .portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.flex {
    display: flex;
}
textarea  {
    resize: none;
}

/* special main setting */
/* прибрати крапки з li та відступи ul */
.hidenmark{
    list-style: none;

    padding: 0px;
    margin: 0px;
}
/* !Сховати hiden-titles  */
.hiden-titles {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* обнулення заголовків */
[class*="title"] {
    margin-bottom: 0px;
    margin-top: 0px;
}
/* обнулення img відступу */
[class*="image"] {
    display: block;
    max-width: 100%;
    height: auto;
}

/* кнопки */
.button {
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 6px;
    min-height: 38px;
    min-width: 73px;
    padding: 6px 22px;
    
}
.button.sec {
    color: var(--main-wight-color);
    background-color: var(--accent-color);
    letter-spacing: 0.06em;
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;
    
}

/* header */
.header {
    border-bottom: 1px solid #ECECEC ;
    }
/* logo */
.logo {
    color: var(--button-color);
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.accent {
    color: var(--accent-color)
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
header .link {  
    color: var(--title-color);
    text-decoration: none;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}
.nav {
    display: flex;
    align-items: center ;
}
.nav-link {
    /* display: flex; */
    margin-left: 93px;
    
}
.nav-item + .nav-item {
    margin-left: 50px;
    /* можна замінити на li */
}
.nav-item {
    position: relative;
}
.header .contact-link {
    display: flex;
    margin-left: auto;
    align-items: baseline;
}
.contact-item + .contact-item {
    margin-left: 50px;
    /* можна замінити на li */
}
.contact-link .link {
    color: var(--text-color);
    fill: var(--text-color);
    /* display: flex; */
    gap: 10px;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}
.hover .current {
    color: var(--accent-color);
}
.current::after {
    display: block;
    position: absolute;
    bottom: -1px;
    border-radius: 2px;

    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}
/* .contact-icon {
    margin-right: 10px;
} */
.hover .link:hover,  .hover .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}

/* .hover .link.current::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
} */
/* .mail::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/ico/mail.svg);
} */
/* .tel::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url(../images/ico/smartphone.svg);
} */


/* hero */
.hero {
    background-color: var(--bcg-pri-color);
    letter-spacing: 0.06em;
    text-align: center;
    
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hero.background {
    
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/bacground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-title {
    color: var(--main-wight-color);
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* .backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% 50%);
    background-color: rgba(117, 117, 117, 0.5);
    
} */
.backdrop.is-hidden {
    /* visibility: hidden; */
    pointer-events: none;
    opacity: 0;
    transform: scale(1.5);
    /* transition-property: transform, opacity;
    transition-duration: 500ms, 2500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1), cubic-bezier(0.075, 0.82, 0.165, 1);;
    transition-delay: 0ms; */
}
.backdrop {
    
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.5);
    opacity: 1;
    transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 500ms, 200ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1), cubic-bezier(0.075, 0.82, 0.165, 1);;
    transition-delay: 0ms;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 521px;
    background-color: var(--main-wight-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.form-box {
    display: block;
    padding: 40px;
}

.form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-bottom: 10px;

    color: 
    rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}
.form-input {
    padding: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-input:not(:last-child) {
    padding-left: 42px;
}
.name {
    margin-bottom: 4px;
}

.form-title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.checkbox {
    appearance: none;
    position: absolute;
}
.checkbox-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 8.38px;
    width: 15px;
    height: 16px;
    border: 2px solid #000000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    fill: #fff;
    
}
.checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox:checked + .checkbox-icons {
    background-color: var(--accent-color);
    background-origin: border-box;
    border: none;
}
.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}
.requirements-link {
    color: var(--accent-color);
}
.close-button:hover, .close-button:focus {
    fill: var(--accent-color);
}
.form-input:hover, .form-input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: var(--accent-color);
}
/* .form-input {
    position: relative;
} */
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    /* transform: translatex(-50%); */
    
}

.form-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.form-label:focus-within .form-icon {
    fill: var(--accent-color);
}


/* preference */
.preference {
    text-align: left;
}
.block-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-sec-color);

    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.preference-icon {
    width: 70px;
    height: 70px;
}
.preference-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    margin-bottom: 10px;
}
/* оформлення і скидання параграфів */
[class*="text"] {
    color: var(--text-color);
    line-height: 1.7;

    margin-top: 0px;
    margin-bottom: 0px;
}
.preference-item:not(:last-child) {
    margin-right: 30px;
}
/* .preference-item::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.antenna::before {
    background-image: url(../images/ico/antenna\ 1.svg);
}
.clock::before {
    background-image: url(../images/ico/clock\ 1.svg);
}
.diagram::before {
    background-image: url(../images/ico/diagram\ 1.svg);
}
.astronaut::before {
    background-image: url(../images/ico/astronaut\ 1.svg);   
} */

/* activity */
.activity {
    padding-top: 0px;
}
.main-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.activity-coloms {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.activity-item {
    position: relative;
    overflow: hidden;
}
.home-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
    /* transform: translatey(100%); */
    /* transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--animation-funktion);
    transition-delay: 0ms; */
}
.activity-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/* .activity-item:hover .home-overlay, .activity-item:focus .home-overlay {
    transform: translateY(0);
} */
/* .activity-image:hover .home-overlay, .home-overlay:focus {
    opacity: 1;
    
} */
/* .activity-image {
    display: block;
    max-width: 100%;
    height: auto;
} */


/* team */
.ourteam {
    background-color: var(--bcg-sec-color);
}
.ourteam-coloms {
    display: flex;
    justify-content: space-between;
    margin-top: 50pt;
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* .team-image {
    display: block;
    max-width: 100%;
    height: auto;
} */
.ourteam-css {
    background-color: var(--main-wight-color);

    padding-bottom: 30px;
    padding-top: 30px;
    
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}
.teem-text{
    font-size: 16px;
    line-height: 1.19;
}
.soc-networks-coloms {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}
.soc-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}

.soc-networks-link:hover, .soc-networks-link:focus {
    fill: var(--main-wight-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}
.soc-networks-icon {
    width: 20px;
    height: 20px;
}

/* .ourteam-css::after {
    display: inline-block;
    content: "";
    width: 206px;
    height: 44px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(../images/ico/instagram.svg), url(../images/ico/twitter.svg), url(../images/ico/facebook.svg), url(../images/ico/linkedin.svg);
    background-position: 12px, 66px, 120px, 176px;
} */


/* client */
.clients-coloms {
    display: flex;
    justify-content: space-between;
    margin-top: 50pt;
    align-items: center;
}
/* .clients-item {
    
} */
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-icon-color);
    width: 170px;
    height: 92px;
    border: 1px solid var(--main-icon-color);
    border-radius: 4px;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion), border 250ms var(--animation-funktion);
}
.clients-link:hover, .clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion), border 250ms var(--animation-funktion);
}



/* footer */
footer {
    background-color: var(--bcg-pri-color);
    text-align: left;
    
    padding: 60px 60px;
}
.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer .logo {
    color: var(--main-wight-color);

    display: block;
    margin-bottom: 20px;
}
.contactus-item {
    margin-bottom: 9px;
}
address .link {
    color: var(--main-wight-color);
    font-style: normal;
    text-decoration: none;
    line-height: 1.7;
} 
.link.contacts {
    color: var(--spec-link-color);
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}
.soc-network-title {
    text-transform: uppercase;
}
.soc-network {
    text-transform: uppercase;
    color: var(--main-wight-color);
    /* display: flex; */
    width: 206px;
    height: 80px;
    margin-left: 69px;
    /* margin-top: 75px;
    margin-bottom: 97px; */
}
/* .soc-network-icon {
    width: 20px;
    height: 20px;
} */
.soc-network-coloms {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 44px;
    margin-top: 20px;
}
.soc-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-wight-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}
.mailing {
    display: flex;
    flex-direction: column;
    padding-left: 69px;

}
.mailing-box {
    display: flex;
}
.mailing-label {
    display: flex;
    text-align: center;
    margin-top: 20px;
    
}
.mailing-input {
    margin-right: 12px;
    min-width: 357px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    background-color: #2F303A;
    color: #fff;
}
.mailing-button {
    border-style: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--main-wight-color);
    border-radius: 4px;
    
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
}
.mailing-icon {

    
    fill: #fff;
}
.mailing-title {
    text-transform: uppercase;
    color: var(--main-wight-color);
    /* display: flex; */
    
    /* margin-left: 69px; */
}
/* .mailing-input {
    display: inline-block;
} */
.soc-network-link:hover, .soc-network-link:focus {
    fill: var(--main-wight-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: background-color 250ms var(--animation-funktion), fill 250ms var(--animation-funktion), color 250ms var(--animation-funktion);
}


/* main-portfolio */
.select-button {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
    
}
.button.pri:hover, .button.pri:focus {
    color: var(--main-wight-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--animation-funktion),  color 250ms var(--animation-funktion), box-shadow 250ms var(--animation-funktion);
}

.main-portfolio .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    background-color: var(--bcg-sec-color);
    color: inherit;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    transition: background-color 250ms var(--animation-funktion),  color 250ms var(--animation-funktion), box-shadow 250ms var(--animation-funktion);
}

.our-works {
    text-align: left;
    
    display: flex;
    flex-wrap: wrap;
    
}
.our-works-css {
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 2500ms var(--animation-funktion); */
}
/* Сітка */
.works-item {
    width: calc((100% - 2 * 30px) / 3);
}
.works-box {
    display: block;
    text-decoration: none;
    color: inherit;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow: none;
    transition: box-shadow 500ms var(--animation-funktion);

}
.works-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.works-item:not(:nth-child(-n+3)) {
    margin-top: 30px;
}
.overlay-block {
    position: relative;
    overflow: hidden;
}
.overlay {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    

    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--animation-funktion);
    transition-delay: 0ms;
}   
.overlay-text {
    display: block;
    padding: 63px 24px;
    
    color: var(--main-wight-color);
    font-size: 18px;
    line-height: 1.6;

    opacity: 0;
    transition: opacity;
    transition-duration: 375ms;
    transition-timing-function: var(--animation-funktion);
    transition-delay: 125ms;
}
.works-box:hover, .works-box:hover .overlay-text, .works-box:hover .overlay, .works-box:focus, .works-box:focus .overlay-text, .works-box:focus .overlay {
    
    transform: translateY(0);
    opacity: 1;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    /* transition: box-shadow 250ms var(--animation-funktion), opacity 375ms var(--animation-funktion) 125ms, opacity 375ms var(--animation-funktion) 125ms; */

}

/* .portfolio-image {
    display: block;
    max-width: 100%;
    height: auto;
} */
.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}
.portfolio {
    font-size: 16px;
    line-height: 1.87;
}
/* .works-box:hover, .works-box:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    
} */


/* 
-модалка
1. ховер на закриття
2 назва блоку
3 перед текттом іконка (біфор)
4. в коментах підказка

5 при ховері іконка синя
6 
 */