.hidenmark{
    list-style: none;

    padding: 0px;
    margin: 0px;
}

.button {
    padding: 0px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: 1px solid blue;
}


/* .button-icon {
    fill: rgb(223, 12, 12);
    width: 44px;
    height: 44px;
} */
/* section {
    display: block;
    width: 206px;
    height: 44px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
} */


.flex {
    display: flex;
}
/* new2 */
.contact-icon {
    fill: black;
    margin-right: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .contact-link {
    display: flex;
    margin-left: auto;
    align-items: baseline;
}
.contact-link .link {
    color: black;
}
.contact-item + .contact-item {
    margin-left: 50px;
    /* можна замінити на li */
}
/* .contact-item {
    display: flex;
} */
/* ефект наведення */
.hover-link:hover,  .hover-link:focus {
    color: blue;
    fill: greenyellow;
}
/* .hover .link:hover,  .hover .link:focus {
    color: green;
    fill: pink;
} */
.contact-icon:hover, .contact-icon:focus {
    fill: goldenrod; 
}

.hover .link.current {
    color: var(--accent-color);
}



/* new3 */

/* team */
.ourteam {
    background-color: var(--bcg-sec-color);
}
.ourteam-coloms {
    display: flex;
    justify-content: space-between;
    margin-top: 50pt;
}
.team-item {
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* .team-image {
    display: block;
    max-width: 100%;
    height: auto;
} */
.ourteam-css {
    background-color: var(--main-wight-color);

    padding-bottom: 30px;
    padding-top: 30px;
    
}
.position {
    position: relative;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}
.teem-text{
    font-size: 16px;
    line-height: 1.19;
}
.soc-networks {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 206px;
    height: 44px;
    outline: 4px dashed orangered;
}
.soc-networks-coloms {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.soc-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-icon-color);
    width: 44px;
    height: 44px;
}
.soc-networks-item:hover, .soc-networks-item:focus {
    fill: var(--main-wight-color);
    background-color: var(--accent-color);
    border-radius: 50%;
}
.soc-networks-icon {
    width: 20px;
    height: 20px;
}


/* 4!!!!! */

/* hero */
.hero {
    background-color: var(--bcg-pri-color);
    letter-spacing: 0.06em;
    text-align: center;
    
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hero.background {
    
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/bacground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-title {
    color: white;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* .backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% 50%);
    background-color: rgba(117, 117, 117, 0.5);
    
} */
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.4);
}
.backdrop {
    opacity: 1;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.5);
     transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0ms;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: scale(1); */
    /* transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--animation-funktion);
    transition-delay: 0ms; */

    width: 528px;
    height: 521px;
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

}
.close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    
}
/* кнопки */
.button {
    color: var(--title-color);
    background-color: gray;
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 6px;
    min-height: 38px;
    min-width: 73px;
    padding: 6px 22px;
}
    
.button.pri:hover, .button.pri:focus {
    color: white;
    background-color: blue;
}
.button.sec {
    color: white;
    background-color: blue;
    letter-spacing: 0.06em;
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;
    
}
